name: Update mods
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
jobs:
  update-mods:
    runs-on: ubuntu-latest
    steps:
      - name: get packwiz
        run: |
          curl -fsSLo ~/packwiz.zip https://nightly.link/packwiz/packwiz/workflows/go/main/Linux%2064-bit%20x86.zip
          unzip -d ~ ~/packwiz.zip
          chmod 755 ~/packwiz
      - uses: actions/checkout@v3.3.0
      - name: update mods
        run: |
          echo "y" | ~/packwiz update --all
      - name: check for changes
        id: git-check
        run: |
          echo ::set-output name=modified::$(if git status --porcelain | grep -E 'pack.toml|index.toml|mods\/' > /dev/null; then echo "true"; else echo "false"; fi)
      - name: commit updates
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          
          git add mods/ index.toml pack.toml
          
          git commit -m "chore: update mods"
          
          git push
